
/**
  |============================
  | Colors
  |============================
*/

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

/**
  |============================
  | Fonts
  |============================
*/
  --primary-font: Roboto, sans-serif;
  --secodary-font: Raleway, sans-serif;
  
  /**
    |============================
    | Text colors
    |============================
  */
  --main-txt-cl: #434455;
  --light-txt-cl: #2e2f42;
  --accent-txt-cl:#4d5ae5;
  --navi-focus-cl:#404BBF;
  --mail-txt-cl: #434455;
  --white-txt-cl: #ffffff;
  --footer-txt-cl:#f4f4fd;
  /**
    |============================
    | BG Colors
    |============================
  */

  --background: #2E2F42;
  --background-btn:#4d5ae5;
  --bck-clr-main:#ffffff;
}


/* RESET */
.list{
list-style: none;
}

.decoration{
  text-decoration: none;
}
.link{
  text-decoration: none;
}

.adress-header{
  font-style: normal
}
/**
  |============================
  | Body section
  |============================
*/

.body{
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-txt-cl);
  background-color: var(--bck-clr-main);

}

/**
  |============================
  | HEADER
  |============================
*/

.header-link-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-txt-cl);
  font-family: var(--secodary-font);
  letter-spacing: 0.03em
  text-transform:uppercase

}


.header-link-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--light-txt-cl);
  font-family: var(--secodary-font);
  letter-spacing: 0.03em
  text-transform: uppercase
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);

}
.header-link:hover{
  color: #404bbf;
}
.header-link:focus{
  color:#404bbf;
}

.adress-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.adress-mail:hover{
  color: #404bbf;
}
.adress-mail:focus{
  color: #404bbf;
}

.adress-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.adress-tel:hover{
  color: #404bbf;
}
.adress-tel:focus {
  color: #404bbf;
}



/**
  |============================
  | NAVIGATION
  |============================
*/
.header-list-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-txt-cl);
  font-family:var(--primary-font);
}

.header-list-list:hover,
.header-list-list:focus {
  color: var(--navi-focus-cl);
}

.header-adress {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--primary-font);
  color: var(--mail-txt-cl);
}
.header-adress:hover{
  color: #404bbf;
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  background-color: var(--background);
}

.hero-title {

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--white-txt-cl);
}

.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
font-family: var(--primary-font);
color: var(--white-txt-cl);
background-color:var(--background-btn);

}

/**
  |============================
  | Benefits section
  |============================
*/

.main-benefits {
}

.benefits-headline {
}

.benefits-list {
}

.benefits-item {
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--light-txt-cl);
  
}

.benefits-text {
  ont-size: 16px;
line-height: 1.5;
font-family: var(--primary-font);
color: var(--main-txt-cl);

}



/**
  |============================
  | What are we doing section
  |============================
*/

.what-are-we-doing-section {
}

.what-are-we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-family: var(--primary-font);
  color: var(--light-txt-cl);
  text-align: center;
}

.what-are-we-doing-list {
}

.what-are-we-doing-title-item {
}

.what-are-we-doing-img {
}

.what-are-we-doing-item {
}

/**
  |============================
  | Our team section
  |============================
*/
.section-our-team {
}

.our-team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
font-family: var(--primary-font);
color: var(--light-txt-cl);
text-align: center;
}


.our-team-list {
}

.our-team-item {
}

.our-team-img {
}

.our-team-headline {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
font-family: var(--primary-font);
color: var(--light-txt-cl);
}

.our-team-text {
font-size: 16px;
line-height: 1.5;
font-family: var(--primary-font);
color: var(--mail-txt-cl);
}

/**
  |============================
  | Footer 
  |============================
*/
.footer {
  background-color: var(--background);
}

.footer-web {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
color: var(--accent-txt-cl);
font-family: var(--secodary-font);
}

.link {}

.footer-studio {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
color:var(--footer-txt-cl);
font-family:var(--secodary-font);
}
.footer-text {
font-size: 16px;
line-height: 1.2;
font-family:var(--primary-font);
color: var(--footer-txt-cl);
}



/**
  |============================
  | Portfolio page
  |============================
*/

/**
  |============================
  | Header
  |============================
*/

.body-section {

}


.header-link {
}

.header-nav {
}

.header-logo {
}

.header-list {
}

.header-item {
}

.header-adress {
}

.header-link-mail {
}

.header-link-telefon {
}

/**
  |============================
  | Buttons section
  |============================
*/
.buttons-menu {}

.buttons-menu-list {

}

.list {}

.buttons-menu-item {
}

.buttons-menu-title {}

.buttons-menu-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: var(--primary-font);
  color: var(--accent-txt-cl);
}

/**
  |============================
  | Images sectiom
  |============================
*/
.images {
}

.images-list {
}

.images-item {
}

.images-photos {
}

.images-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
font-family: var(--primary-font);
color: var(--light-txt-cl);
}

.images-text {
font-size: 16px;
line-height: 1.5;
font-family: var(--primary-font);
color: var(--main-txt-cl);
}

